body {
    font-family: 'Poiret One', cursive;
}
.black {
    background-color: #111;
    
}

.bg {
    //background:url("Images/electric.png");
    background: url("Images/electric.png");
    background-position: center;
    padding: 5px;
    margin-top: 10px;
}

.bg-top {
    background: url("Images/abstract.png");
    background-position: center;
    padding: 100px;
}

.heroblock {
    margin: auto;
    position: absolute;
    top: 15px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

@media (max-width: 768px) {
    .heroblock {
        font-size: 40px;
        height: 150px;
    }
}

@media (min-width: 768px) {
    .heroblock {
        font-size: 60px;
        height: 400px;
    }
}

.heroblock #content {
    text-align: center;
    color: #ccc;
    /*text-shadow: 2px 2px 1px #b4b3b3;*/
}

.heroblock i {
    margin-right: 15px;
}

#login {
    position: fixed;
    top: 0px;
    right: 0px;
    font-family: calibri,Verdana;
    padding: 20px;
    font-weight: bold;
}
