body {
    font-family: 'Poiret One', cursive;
}
.black {
    background-color: #111;
    
}

.bg {
    /*background:url("Images/electric.png");*/
    background: url("Images/electric.png");
    background-position: center;
    padding: 5px;
    margin: 0px 0px 30px;
}

.bg-top {
    background: url("Images/abstract.png");
    background-position: center;
    padding: 100px;
}
.chat-window {
    text-align:center; 
    color:#F1901D;
    border:0px solid red;
    font-size:36px;
    background:rgba(255,255,255,1);
    height:600px;
    verflow-y:hidden;
}

.heroblock {
    margin: auto;
    position: absolute;
    top: 15px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

@media (max-width: 768px) {
    .heroblock {
        ont-size: 40px;
        eight: 150px;
    }
}

@media (min-width: 768px) {
    .heroblock {
        ont-size: 60px;
        eight: 400px;
    }
}

.heroblock #content {
    text-align: center;
    color: #ccc;
    /*text-shadow: 2px 2px 1px #b4b3b3;*/
}

.heroblock i {
    argin-right: 15px;
}

#login {
    position: fixed;
    top: 0px;
    right: 0px;
    font-family: calibri,Verdana;
    padding: 20px;
    font-weight: bold;
}
